<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Информация о товаре</h1>
    <div style="padding: 20px; color:white;border: solid medium blue; background: grey ; font-size: 20pt">
        @RenderBody()
    </div>
    <h2>Посетите сайт <a style="color: purple" href="http://professorweb.ru">ProfessorWeb</a></h2>
</body>
</html>
